.page_body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-main {
    display: flex;
    flex-direction: column;

    &-chars {
      display: flex;
      flex-direction: row;
    }
  }
}