.header {
    width: 100vw;
    height: 250px;
    background-image: url(../images/header_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}