.favorites-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    margin: auto;
    font-family: $font-main;
    color: rgb(44, 23, 78);
  }
}

.favorites_list {
  padding: 20px 20px 20px 20px;
  margin: 40px 10px 40px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  gap: 15px;
  background-color: rgba(157, 109, 235, 0.5);
  box-shadow: 0 1px 5px 0 $color-secondary, 0 1px 3px 0 $color-secondary;
  border-radius: 10px;
  height: 100%;
}

.favorites_list > li {
  background-color: rgb(85, 48, 143);
  color: azure;
}

.collapsed {
  display: none;
}
